<%= form_for((@album), :html => { :multipart => true }) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pealkiri" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Aasta" %><br />
    <%= f.select(:year, 1900..Time.now.year, :selected=>(f.object.year || Time.now.year)) %>
  </div>
  <div>
    <%= f.label :photo, "Pilt" %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label "Kirjeldus" %><br />
    <%= f.text_area :description, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label "Esitaja" %><br />
    <%= f.text_field :artist_name, data: {autocomplete_source:
			Artist.order(:name).map(&:name)} %>
  </div>
  <div class="field">
  <%= f.label "Väljaandja" %><br />
  <%= f.text_field :label_name, data: {autocomplete_source:
	  Label.order(:name).map(&:name)} %>
  </div>
	<div class="field">
  <%= f.label "Stiil" %><br />
	<%= f.text_field :genre_name, data: {autocomplete_source:
		Genre.order(:name).map(&:name)} %>
	</div>

  <div class="field">
	<tr>
		<td>
    <%= f.label "Formaat" %><br />
    <%= f.text_field :format_name, data: {autocomplete_source:
		  Format.order(:name).map(&:name)} %>
		</td>
	</tr>
  </div>
	<b>Loo nimed</b>
	<br>
	<div class="fields">
	<%= f.fields_for :tracks do |builder| %>
		<%= render "track_fields", :f => builder %>
	<% end %>	
	<p><%= link_to_add_fields "Lisa lugu", f, :tracks %></p>
	</div>
	<br>
	<br>
  <div class="actions">
    <%= f.submit "Salvesta" %>
  </div>
<% end %>
