<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.number_field :artist %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.number_field :label %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.number_field :genre %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.number_field :format %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
