<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pealkiri" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Aasta" %><br />
    <%= f.select(:year, 1900..Time.now.year, :selected=>(f.object.year || Time.now.year)) %>
  </div>
  <div class="field">
    <%= f.label "Pilt" %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label "Kirjeldus" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Esitaja" %><br />
    <%= collection_select(:album, :artist, Artist.all, :id, :artist,{ :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label "Väljaandja" %><br />
    <%= collection_select(:album, :label, Label.all, :id, :label,{ :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label "Stiil" %><br />
	<%= collection_select(:album, :genre, Genre.all, :id, :genre,{ :include_blank => true }) %>
  </div>
  <div class="field">
	<tr>
		<td>
    		<%= f.label "Formaat" %><br />
    		<%= collection_select(:album, :format, Format.all, :id, :format,{ :include_blank => true}) %>
		</td>
		<td>
			<%= f.text_field :format %>
		</td>
	</tr>
  </div>
  <div class="actions">
    <%= f.submit "Loo album" %>
  </div>
<% end %>
