<h1>Minu muusikakogu</h1>

<table>
  <tr class="pealkiri">
	<td></td>
	<td>Kirjeldus</td>
	<td>Pealkiri</td>
	<td>Artist</td>
	<td>Ilmumisaasta</td>
	<td>Väljaandja</td>
	<td>Stiil</td>
	<td>Formaat</td>
  </tr>
<% @albums.each do |album| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
	<td>
      <%= image_tag(album.picture, class: 'list_image') %>
    </td>

	<td class="list_description" >
	 	<dl>
	 	<dd><%= truncate(strip_tags(album.description),
	 	length: 40) %></dd>
	 	</dl>
	</td>
	<td><%= album.title %></td>
	<td><%= Artist.find(album.artist).artist %></td>
	<td><%= album.year %></td>
	<td><%= Label.find(album.label).label %></td>
	<td><%= Genre.find(album.genre).genre %></td>
    <td><%= Format.find(album.format).format %></td>
	
	<td class="list_actions" >
	 	<%= link_to 'Näita', album %><br />
	 	<%= link_to 'Muuda', edit_album_path(album) %><br />
	 	<%= link_to 'Kustuta', album,
	 	confirm: 'Kas oled kindel?',
	 	method: :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Lisa uus album', new_album_path %>
