<p id="notice"><%= notice %></p>

<p>
  <b>Pealkiri:</b>
  <%= @album.title %>
</p>

<p>
  <b>Aasta:</b>
  <%= @album.year %>
</p>

<p>
  <b>Pilt:</b>
  <%= @album.picture %>
</p>

<p>
  <b>Kirjeldus:</b>
  <%= @album.description %>
</p>

<p>
  <b>Esitaja:</b>
  <%= @album.artist %>
</p>

<p>
  <b>Väljaandja:</b>
  <%= @album.label %>
</p>

<p>
  <b>Stiil:</b>
  <%= @album.genre %>
</p>

<p>
  <b>Formaat:</b>
  <%= @album.format %>
</p>


<%= link_to 'Muuda', edit_album_path(@album) %> |
<%= link_to 'Tagasi', albums_path %>
