<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Year:</b>
  <%= @album.year %>
</p>

<p>
  <b>Picture:</b>
  <%= @album.picture %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<p>
  <b>Artist:</b>
  <%= @album.artist %>
</p>

<p>
  <b>Label:</b>
  <%= @album.label %>
</p>

<p>
  <b>Genre:</b>
  <%= @album.genre %>
</p>

<p>
  <b>Format:</b>
  <%= @album.format %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
