<p id="notice"><%= notice %></p>
<div class= "div_info" >
<p>
  <b>Pealkiri:</b>
  <%= @album.title %>
</p>

<p>
  <b>Aasta:</b>
  <%= @album.year %>
</p>

<p>
   <%= image_tag(@album.photo.url, class: 'show_image') %>
</p>

<p>
  <b>Kirjeldus:</b>
  <%= @album.description %>
</p>

<p>
  <b>Esitaja:</b>
  <%= @album.artist_name %>
</p>

<p>
  <b>Väljaandja:</b>
  <%= @album.label_name %>
</p>

<p>
  <b>Stiil:</b>
  <%= @album.genre_name %>
</p>

<p>
  <b>Formaat:</b>
  <%= @album.format_name %>
</p>
<%= link_to 'Muuda', edit_album_path(@album) %> |
<%= link_to 'Tagasi', albums_path %>
</div>
<div class="div_tracklist">
	<p>
  	<b>Lugude nimekiri:</b>
	</p>
	<% @album.tracks.each do |track| %>
	<%= track.order_number %>.
	<%= track.title %>
	<%= track.artist_id %>
	<%= track.minutes %>m
	<%= track.seconds %>s
	<br>
	<% end %>
</div>

